
<body>

	<h2 class = "top-title">ようこそ Bookers へ！</h2>

	<p class = "top-explanation"><strong>Bookers </strong>では、さまざまな書籍に関するあなたの意見や</p>

	<p class = "top-explanation">印象を共有し交換することができます</p>

	<div class = "link-to-index">
	<%= link_to "start", "/posts" %>
	</div>

</body>


